:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg, #f6ceec 10%, #e65297 100%);

    --vp-home-hero-image-background-image: linear-gradient(135deg, #f6ceec 10%, #e65297 100%);
    --vp-home-hero-image-filter: blur(150px);

    /* brand按钮 */
    /* --vp-button-brand-border: #f6ceec;
    --vp-button-brand-text: #f6ceec;
    --vp-button-brand-bg: #d939cd;

    --vp-button-brand-hover-border: #f6ceec;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #d939cd;

    --vp-button-brand-active-border: #f6ceec; */

    --vp-c-brand: #f88fb2;
    --vp-c-brand-light: #ff93ac;
    --vp-c-brand-lighter: #ff73ad;
    --vp-c-brand-dark: #e67d96;
    --vp-c-brand-darker: #c85082;
    --vp-c-brand-dimm-1: rgba(240, 60, 130, 0.5);
    --vp-c-brand-dimm-2: rgba(240, 60, 130, 0.25);
    --vp-c-brand-dimm-3: rgba(240, 60, 130, 0.05);
}
::selection {
    color: #fff;
    background: #ffa4cf;
}
.image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}
.c-t {
    color: var(--vp-c-brand);
}
em {
    color: var(--vp-c-brand);
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsl(357, 100%, 75%);
    display: grid;
    place-items: center;
    z-index: 6;
    transition: 0.25s ease;
}
.preloader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-block-start-color: transparent;
    animation: rotate360 1s ease infinite;
}
.read-it-out {
    cursor: pointer;
}
